:root {
    --page_background: #f6f5f8;
    --header_background: #f25e30;
    --header_height: 70px; 
    --header_option_char:#f7f0e5;
    --footer_height: 150px; 
    --transition_time: 0.2s;
}

* {
    margin: 0px;
    padding: 0px;
 }

body {
    background-color: var(--page_background);
}

/*HEADER*/
header{
    background-color: var(--header_background);
    height: var(--header_height);
}

.header_logo{
    float: left;
    width: 17.5%;
}

.header_logo img {
    height: var(--header_height);
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.header_options ul{
    display: flex;
    flex-direction: row-reverse;   
}

.header_options ul li{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row-reverse;
    width: auto;
    padding: 0px 30px 0px 30px;
    text-align: center;
    line-height: var(--header_height);
    font-size: 25px;
    font-weight: bold;
}
.header_options ul li a{
    text-decoration: none;
    color: none;
    color: var(--header_option_char);
    padding: 0 .2em 0 .2em;
    transition: var(--transition_time);
}


.header_options ul li a:hover{
    color: black;
    background-color: var(--header_option_char);
    border-radius: 1em;
}


.header_options ul li i{
    line-height: var(--header_height);
}


/*FOOTER*/
footer{
    background-color: var(--header_background);
    height: var(--footer_height);
}

footer div div ul{
    list-style-type: none;
}


#footer_1{
    display: flex;
    flex-direction: column; 
}

#footer_1 span{
    text-align: center;
}

.footer_2{
    text-align: center;
    display: flex;
    flex-direction: row;
    height: var(--footer_height);
    align-items: center;
    justify-content: center;
}

.footer_2 div{
    width: 50%;
}

.footer_2 div ul{
    padding: 0;
    
}

.footer_2 div ul a{
    text-decoration: none;
    color:black;    
    transition: var(--transition_time);
}

.footer_2 div ul a:hover{
    font-weight: 900;
    border-bottom: solid;
}

.footer_icon_contact{
    margin: auto;
}

.footer_icon_contact ul{
    display: flex;
    flex-direction: row;
}

.footer_icon_contact ul li{
    padding-left: 1em;
    padding-right: 1em;
}

.form_footer{
    display: flex;
    flex-direction: row;
    background-color: var(--header_option_char);
    margin: .3em;
    padding: .2em;
    border-radius: 1em;
    border: 2px solid black;
}

.form_footer div{
    padding: .3em;
}

.container_footer_email_1{
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: center;  
}

.container_footer_email_1 input{
    width: 95%;
    text-align: center;
    background-color: white;
    border-radius: 2em;
    border-bottom: dotted ;
    border-color: transparent transparent black transparent;
}

.container_footer_email_2{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fcbb91;
    transition: var(--transition_time);
}

.container_footer_email_2:hover{
    background-color: var(--header_background);
    color: black;
}

.container_footer_email_2 input{
    border: none;
    background-color: transparent;
    font-weight: bold;
}

/*MAIN*/
.mainbody{
    background-color: var(--header_background);
    padding-bottom: 1px;
}

.mainbody img{
    object-fit: cover;
    object-position: bottom;
    height: 100%;
    width: 100%;
}

.mainbody div{
    position: absolute;
    width: 40%;
    bottom: 10em;
    margin-bottom: 0;
    text-align: center;
    justify-content: center; 

}

.mainbody div h1 {
    padding-bottom: .2em;
}

.mainbody div h2 a{
    text-decoration: none;
    color: var(--header_background);
    font-weight: 900;
    padding: .2em .5em .2em .5em;
    border-radius: 1em;
    border: 2px solid black;
    background-color: var(--header_option_char);
    transition: var(--transition_time);
}

.mainbody div h2 a:hover{
    color: black;
    background-color: var(--header_background);
}

.mainbody div h5{
    font-size: 1.1em;
    margin: .5em auto .5em auto;
}

.mainbody_span {
    border-top: dashed;
    width: 50%;
}


/*Privacy policy*/
.privacy_policy{
    width: 90%;
    margin: 2em auto 1em auto;
}

.privacy_policy h1{
    text-align: center;
    font-size: 2em;
}

.privacy_policy h4{
    margin: 1em 0 .3em 0;
    color: var(--header_background);
    font-size: 1.5em;
}

.privacy_policy h5{
    margin: 0 2em 0 2em;
    font-size: 1.2em;
}

/*shipping-refund*/
.shipping_refund_policy{
    width: 70%;
    margin: 2em auto 1em auto;
}

.shipping_refund_policy h1{
    text-align: center;
    font-size: 2em;
    margin: 1em 0 .5em 0;
}

.shipping_refund_policy h4{
    margin: 1em 0 .3em 0;
    font-size: 1.3em;
}

.shipping_refund_policy h5{
    margin: 1em 0 .3em 0;
    font-size: 1.1em;
    font-weight: 500;
}