:root {
    --page_background: #f7f0e5;
    --header_background: #f25e30;
    --header_height: 70px; 
    --header_option_char:#f7f0e5;
    --footer_height: 150px; 
    --transition_time: 0.2s;
}

* {
    margin: 0px;
    padding: 0px;
 }

body {
    background-color: var(--page_background);
}

/*HEADER*/
header{
    background-color: var(--header_background);
    height: var(--header_height);
}

.header_logo{
    float: left;
    width: 30%;
}

.header_logo img {
    height: var(--header_height);
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.header_options ul{
    display: flex;
    flex-direction: row-reverse;   
}

.header_options ul li{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row-reverse;
    width: auto;
    padding: 0px 30px 0px 30px;
    text-align: center;
    line-height: var(--header_height);
    font-size: 25px;
    font-weight: bold;
}
.header_options ul li a{
    text-decoration: none;
    color: none;
    color: var(--header_option_char);
    padding: 0 .2em 0 .2em;
    transition: var(--transition_time);
}


.header_options ul li a:hover{
    color: black;
    background-color: var(--header_option_char);
    border-radius: 1em;
}

.header_options ul li i{
    line-height: var(--header_height);
}


/*mainbody*/
main{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 1em;
}

main section{
    width: 24%;
    display: flex;
    justify-content: center;
    margin: 5px;
    background-color: white;
    border: solid;
    border-radius: 2em;
    border-color: transparent;
    transition: var(--transition_time);
}

main section:hover{
    border-color: var(--header_background);
}

main div{
    display: flex;
    flex-wrap: wrap;
}

section div img{
    width: 65%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

section div h6,
section div span{
    width: 100%;
    font-size: 1.3em;
    padding: .5em;
    text-align: center;
    margin-bottom: .5em;
}

.soldout{
    background-color: red;
    width:50%;
    margin-left: auto;
    margin-right: auto;
    font-weight: 900;
    border-radius: 2em;
}

    /*this block is for non display*/
.section_non_display{
    background-color: var(--page_background);
}

.section_non_display:hover{
    border-color: transparent;
}

.section_non_display div{
    display: none;
}
    /*_______________________*/