:root {
    --page_background: #f7f0e5;
    --header_background: #f25e30;
    --header_height: 70px; 
    --header_option_char:#f7f0e5;
    --footer_height: 150px; 
    --transition_time: 0.2s;
}

* {
    margin: 0px;
    padding: 0px;
 }

body {
    background-color: var(--page_background);
}

/*HEADER*/
header{
    background-color: var(--header_background);
    height: var(--header_height);
}

.header_logo{
    float: left;
    width: 30%;
}

.header_logo img {
    height: var(--header_height);
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.header_options ul{
    display: flex;
    flex-direction: row-reverse;   
}

.header_options ul li{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row-reverse;
    width: auto;
    padding: 0px 30px 0px 30px;
    text-align: center;
    line-height: var(--header_height);
    font-size: 25px;
    font-weight: bold;
}
.header_options ul li a{
    text-decoration: none;
    color: none;
    color: var(--header_option_char);
    padding: 0 .2em 0 .2em;
    transition: var(--transition_time);
}


.header_options ul li a:hover{
    color: black;
    background-color: var(--header_option_char);
    border-radius: 1em;
}

.header_options ul li i{
    line-height: var(--header_height);
}


/*mainbody*/
main{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 1em;
}

main section{
    width: 24%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 5px;
    background-color: white;
    border: solid;
    border-radius: 2em;
    border-top-left-radius: 0em;
    border-top-right-radius: 0em;
    border-color: transparent;
    transition: var(--transition_time);
}

main section h4{
    color: transparent;
    width: 100%;
    text-align: center;
}


main section:hover{
    border-color: var(--header_background);
}

main div{
    display: flex;
    flex-wrap: wrap;
}

section div img{
    width: 65%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

section div h6,
section div span{
    width: 100%;
    font-size: 1.3em;
    padding: .5em;
    text-align: center;
    margin-bottom: .5em;
}

.price{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.price_left{
    width: 40%;
}

.price_left h6{
    text-align: right;
}

.price_right{
    width: 40%;
}

.price_right h6{
    text-align: left;
}

.price_bottom{
    width: 100% ;
}

.price_sale{
    border: dashed var(--header_background);
}

.price_sale:hover{
    border: solid var(--header_background);
}

.price_sale h4{
    display: block;
    color: black;
    font-weight: 900;
    background-color: var(--header_background);
    height: 1.5em;
}

.price_sale .price_left{
    text-decoration: line-through var(--header_background);
}

.price_sale .price_right{
    color: var(--header_background);
}

.price_sale .price_bottom{
    display:none;
}

.price_normal .price_left{
    display: none;
}

.price_normal .price_right h6{
    font-weight: 900;
    text-align: center;
}

.price_normal .price_bottom{
    display:none;
}

.price_soldout .price_left{
    display: none;
}

.price_soldout .price_right{
    display:none;
}

.price_soldout .price_bottom{
    background-color: var(--header_background);
    border-radius: 2em;
}
    /*this block is for non display*/
.section_non_display{
    background-color: var(--page_background);
}

.section_non_display:hover{
    border-color: transparent;
}

.section_non_display div{
    display: none;
}
    /*_______________________*/


/*FOOTER*/
footer{
    background-color: var(--header_background);
    height: var(--footer_height);
}

footer div div ul{
    list-style-type: none;
}


#footer_1{
    display: flex;
    flex-direction: column; 
}

#footer_1 span{
    text-align: center;
}

.footer_2{
    text-align: center;
    display: flex;
    flex-direction: row;
    height: var(--footer_height);
    align-items: center;
    justify-content: center;
}

.footer_2 div{
    width: 50%;
}

.footer_2 div ul{
    padding: 0;
    
}

.footer_2 div ul a{
    text-decoration: none;
    color:black;    
    transition: var(--transition_time);
}

.footer_2 div ul a:hover{
    font-weight: 900;
    border-bottom: solid;
}

.footer_icon_contact{
    margin: auto;
}

.footer_icon_contact ul{
    display: flex;
    flex-direction: row;
}

.footer_icon_contact ul li{
    padding-left: 1em;
    padding-right: 1em;
}

.form_footer{
    display: flex;
    flex-direction: row;
    background-color: var(--header_option_char);
    margin: .3em;
    padding: .2em;
    border-radius: 1em;
    border: 2px solid black;
}

.form_footer div{
    padding: .3em;
}

.container_footer_email_1{
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: center;  
}

.container_footer_email_1 input{
    width: 95%;
    text-align: center;
    background-color: white;
    border-radius: 2em;
    border-bottom: dotted ;
    border-color: transparent transparent black transparent;
}

.container_footer_email_2{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fcbb91;
    transition: var(--transition_time);
}

.container_footer_email_2:hover{
    background-color: var(--header_background);
    color: black;
}

.container_footer_email_2 input{
    border: none;
    background-color: transparent;
    font-weight: bold;
}
