:root {
    --page_background: white;
    --header_background: #f25e30;
    --header_height: 70px; 
    --header_option_char:#f7f0e5;
    --footer_height: 150px; 
    --transition_time: 0.2s;
    --height_big_img: 25em;
    --height_small_img: 10em;
    --icon_color: #04ab93;
}

* {
    margin: 0px;
    padding: 0px;
 }

body {
    background-color: var(--page_background);
    background-image: linear-gradient(white,var(--header_option_char));
}


/*HEADER*/
header{
    background-color: var(--header_background);
    height: var(--header_height);
}

.header_logo{
    float: left;
    width: 17.5%;
}

.header_logo img {
    height: var(--header_height);
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.header_options ul{
    display: flex;
    flex-direction: row-reverse;   
}

.header_options ul li{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row-reverse;
    width: auto;
    padding: 0px 30px 0px 30px;
    text-align: center;
    line-height: var(--header_height);
    font-size: 25px;
    font-weight: bold;
}
.header_options ul li a{
    text-decoration: none;
    color: none;
    color: var(--header_option_char);
    padding: 0 .2em 0 .2em;
    transition: var(--transition_time);
}

.header_options ul li a:hover,
#cart-icon:hover{
    color: black;
    background-color: var(--header_option_char);
    border-radius: 1em;
}

.header_options ul li i{
    line-height: var(--header_height);
}

.cart-count{
    padding: 0 .3em 0 .3em;
 }

#cart-icon{
    font-size: 1.5rem;
    cursor: pointer;
    color: var(--header_option_char);
    padding: 0 .5em 0 .5em;
    transition: var(--transition_time);
}

img{
    width: 100%;
}
  
.container{
    width: 90%;
    padding: 4rem;
    margin: auto;
}
  
h2.title{
    font-size: 1.1rem;
    font-weight: 500;
    margin-bottom: 1.5rem;
    color:#ffffff;
}
  
.shop-content{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
  
.product-box{
    display: flex;
    flex-wrap: wrap;
    width: 45%;
}
/*
.pic{
    width: 100%;
}
  
.pic:hover img{
  transform: scale(1.5);
}
*/
  
.product-img{
    transition: 0.4s;
    width: 50%;
}
  
.product-title{
    font-size: 2em;
    font-weight: 600;
    color:black;
}

.product-price{
    font-weight:500 ;
}
  
.add-cart:hover{
    background-color:var(--header_option_char);
}
      
.cart{
    position: fixed;
    top: 0;
    right: -100%;
    height: 100vh;
    width: 0px;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 20px;
    background-color: var(--header_option_char);
    box-shadow: 0 1px 4px rgba(40, 37, 37, 0.1);
    z-index: 100;
}
  
.cart-active{
    right:0;
    transition: 0.5s;
    width: 400px;
}
  
.cart-title{
    text-align: center;
    font-size: 1.5rem;
    font-weight: 500;
    margin-bottom: 1rem;
    padding-bottom:20px ;
    border-bottom: 1px solid rgba(0,0,0,0.1);
}
  
.cart-box{
    display: grid;
    grid-template-columns: 32% 50% 18%;
    align-items: center;
    gap: 1rem;
    margin-top: 1rem;
    border-bottom: 1px solid rgba(0,0,0,0.1);
    padding-bottom: 10px;
}
  
.cart-img{
    width: 75px;
    height: 75px;
    object-fit: cover;
    border:2px solid  rgba(0,0,0,0.1);
    padding: 5px;
}
  .detail-box{
    display: grid;
    row-gap: 0.5rem;  
}
  
.price-box{
    display: flex;
    justify-content: space-between; 
}
  
.cart-product-title{
    font-size: 1em;
    text-transform: uppercase;
    color:var(--header_background);
    font-weight: 900;
}
  
.cart-price{
    font-weight: 500;
}
  
.cart-quantity{
    border:1px solid rgba(0,0,0,0.1);
    outline:none ;
    width: 2.4rem;
    text-align: center;
    font-size: 1rem;
}
  
.cart-remove{
    font-size: 24px;
    color:red;
    cursor: pointer;
}
  
.total{
    display: flex;
    justify-content: flex-end;
    margin-top: 1.5rem;
}
  
.total-title{
    font-size: 1.5em;
    font-weight: 900;
}
  
.total-price{
    margin-left: 0.5rem;
    font-size: 1.5em;
}
  
.btn-buy{
    padding: 12px 20px;
    background-color: var(--header_background);
    color:black;
    border: none;
    font-size: 1em;
    font-weight: 900;
    cursor: pointer;
}
  
#cart-close{
    position: absolute;
    top: 1rem;
    right: 0.8rem;
    font-size: 2rem;
    cursor: pointer;
} 


/*FOOTER*/
footer{
    background-color: var(--header_background);
    height: var(--footer_height);
}

footer div div ul{
    list-style-type: none;
}


#footer_1{
    display: flex;
    flex-direction: column; 
}

#footer_1 span{
    text-align: center;
}

.footer_2{
    text-align: center;
    display: flex;
    flex-direction: row;
    height: var(--footer_height);
    align-items: center;
    justify-content: center;
}

.footer_2 div{
    width: 50%;
}

.footer_2 div ul{
    padding: 0;
    
}

.footer_2 div ul a{
    text-decoration: none;
    color:black;    
    transition: var(--transition_time);
}

.footer_2 div ul a:hover{
    font-weight: 900;
    border-bottom: solid;
}

.footer_icon_contact{
    margin: auto;
}

.footer_icon_contact ul{
    display: flex;
    flex-direction: row;
}

.footer_icon_contact ul li{
    padding-left: 1em;
    padding-right: 1em;
}

.form_footer{
    display: flex;
    flex-direction: row;
    background-color: var(--header_option_char);
    margin: .3em;
    padding: .2em;
    border-radius: 1em;
    border: 2px solid black;
}

.form_footer div{
    padding: .3em;
}

.container_footer_email_1{
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: center;  
}

.container_footer_email_1 input{
    width: 95%;
    text-align: center;
    background-color: white;
    border-radius: 2em;
    border-bottom: dotted ;
    border-color: transparent transparent black transparent;
}

.container_footer_email_2{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fcbb91;
    transition: var(--transition_time);
}

.container_footer_email_2:hover{
    background-color: var(--header_background);
    color: black;
}

.container_footer_email_2 input{
    border: none;
    background-color: transparent;
    font-weight: bold;
}

/*MAIN*/
main{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 3em 1em 1em 1em;
}

.section_img{
    width: 45%;
    display: flex;
    flex-wrap: wrap;
    
}

.section_img_big{
    display: flex;
    justify-content: center;
    height: var(--height_big_img);
    width: 100%;
    margin: 10em 0 5em 0;
}

/*this is for JS*/
#container img.zoomed {
    transform: scale(2);
  }

.section_img_small{
    width: 100%;
    display: flex;
    justify-content: center;
}

.section_img_small div{
    display: flex;
    height: var(--height_small_img);
    margin: 1em;
    border: dotted lightsalmon;
}

.section_info{
    width: 100%;
}

.section_detail{
    display: flex;
    flex-wrap: wrap;
    width: 50%;
}

.section_detail h3{
    font-size: 2em;
    font-weight: 600;
}

.section_detail h4{
    font-size: 1.3em;
}

.section_detail h5{
    font-size: 1.2em;
    font-weight: 600;
}

.section_detail i{
    color: var(--icon_color)
}

.huggies i{
    color: orange
}

.milliemoon i{
    color: navy
}

.section_detail div{
    width: 100%;
}

.section_detail_box{
    width: 100%;
}


.section_detail_box div{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;   
    margin-top: 1em;
}

.section_detail_box div h3{
    padding: .5em 1em .5em 1em;
}

.section_review {
    margin-bottom: 1em;
}

.section_detail_box_left{
    display: flex;
    flex-direction: row;
    border: solid;
    margin-right:auto;
}

.section_detail_box_left button {
    background-color: var(--header_background);
    border-color: transparent;
}

.section_detail_box_right,
.sale{
    display: flex;
    flex-direction: row;
    margin-left:auto;
}

.section_detail_box_right .price_right{
    display: none;
}

.sale .price_left{
    text-decoration: line-through var(--header_background);
}

.sale .price_right{
    color: var(--header_background);
}

.sale .price_center,
.section_detail_box_right .price_center{
    display: none;
}

.soldout .price_left,
.soldout .price_right{
    display: none;
}

.soldout .price_center{
    color:black;
    background-color: var(--header_background);
}

.section_shipping{
    margin-right: 100px;
}

.button_cart{
    font-weight: 900;
    background-color: var(--header_background);
    width: 100%;
    text-align: center;
    margin: 1em auto .5em auto;
    border-radius: 2em;
    padding: .2em 0 .2em 0;
    cursor: pointer;
    transition: 0.5s;
}

.section_badge {
    margin: 1em .3em 1em .3em;
}

.section_badge img {
    width: 10em;
}

.section_info{
    width: 90%;
}

.section_info h1{
    font-size: 3em;
    margin: 1em 0 .5em 0;
}

.section_info h3{
    font-size: 2em;
    margin: 1em 0 .5em 0;
}

.section_info h4{
    font-size: 1.5em;
    margin: .5em 0 .2em 0;
}

.section_info h5, span{
    font-size: 1.3em;
    margin: .2em 0 .2em 0;
}

.section_info i{
    color: var(--icon_color)
}

@media screen and (max-width: 428px) {

    body { 
        overflow: auto;
        background-image: linear-gradient(white, var(--header_option_char) 30%);
    }

    header{
        display: flex;
        flex-wrap: wrap;
        height: auto;
        width: 100%;
    }

    .header_logo{
        width: 265.81px;
    }

    .header_logo img{
        float: left;
    }

    .header_options{
        width: 100%;
    }
    
    .header_options ul{
        justify-content: space-evenly;
    }

    .header_options ul li {
        padding: 10px 5px 10px 5px;
        font-size: 1em;
    }

    .header_options ul li,
    .header_options ul li i{
        line-height: 10px;  
    }

    .container{
        width:100%;
        padding: 0;
        margin: 1em 0 0 0 ;
    }

    .shop-content{
        display: flex;
        flex-wrap: wrap;
    }

    .product-box{
        width: 100%;
    }

    .section_img_big {
        margin: 1em 0 1em 0;
    }
    
    .section_img_big img{
        height: 100%;
        width: auto;
    }





    .footer_icon_contact {
        display: flex;
        justify-content: center;
    }

    .footer_icon_contact ul li {
        padding-left: .3em;
        padding-right: .3em;
    }

    .footer_2 div{
        width: 50%;
        padding: .7em 0 .5em 0;
    }

    footer{
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        height: auto;
        padding-bottom: 1em;
        margin-bottom: 0;
    }

    #footer_1{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: auto;

    }

    .footer_2{
        display: flex;
        flex-wrap: wrap;
        height: auto;

    }
    .footer_2 div{
        width: 50%;
        padding: .7em 0 .5em 0;
    }

    .footer_2 h2{
        font-size: 1.3em;
    }

    .footer_icon_contact {
        display: flex;
        justify-content: center;
    }

    .footer_icon_contact ul li {
        padding-left: .3em;
        padding-right: .3em;
    }
    .header_logo img{
        width: 265.81px;
    }

    .section_img_small{
        width: 95%;
        justify-content: space-evenly;
    }

    .section_img_small div {
        display: flex;
        width: 50%;
        height: var(--height_small_img);
        margin: 0.1em;
        border: dotted transparent;
    }

    .section_detail {
        display: flex;
        flex-direction: column;
        margin-left: 0;
        width: 100%;
    }

    .section_detail div{
        text-align: center;
    }

    .button_cart {
        width: 90%;
        height: 50px;
    }

    .section_badge{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    .section_badge img{
        width: 45%;
        margin-bottom: 1em;
    }

    .section_info{
        margin-top: 0;
        margin-bottom: 2em;
    }

    .section_info h1{
        font-size: 2.5em;
    }

    .section_info h4{
        font-size: 1.7em;
        margin-bottom: .5em;
    }

    .cart-active {
        right: 0;
        transition: 0.5s;
        width: 75%;
    }

    
}
